@import '_variables';

body {
  background-color: $light-accent;
  font-family: $font;
  font-size: 20px;
  height: 100vh;
  color: $mid-accent;
}
.header__title,
.header__current-customer {
  display: block;
  font-family: 'Baloo', cursive;
  font-size: 4em;
}
.header__current-customer {
  font-family: $font;
  font-size: 1.5em;
}

.main__overlook {
  display: flex;
  flex-direction: row;
}
.header__nav {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-content: center;

}
.main__panel-container {
  width: 80%;
}

.main__panel-container ul {
  margin: 0;
  padding: 0;
}

.main__panel-container ul li {
  list-style-type: none;
  display: inline-block;
  background: $light-accent;
  margin: 0;
  padding: 3px 10px;
  border-radius: 10px 10px 0px 0px;
  color: $mid-accent;
  font-weight: 300;
  cursor: pointer;
}

.main__panel-container ul li:hover {
  color: #fff;
  background: $mid-accent;
}

.main__panel-container ul li.active {
  color: #fff;
  background: $mid-accent;
  border: 1px solid $mid-accent;
}

.main__panel-container .panel {
  display: none;
  background: $light-accent;
  padding: 30px;
  border-radius: 0px 0px 10px 10px;
}

.main__panel-container .panel.active {
  display: block;
  background: #FEF3E1;
  color: $mid-accent;
  border: 1px solid $mid-accent;
}

.header__search-input {
  height: 20px;
  width: 300px;
  color: $mid-accent;
  margin: 10px 0px;
}

.header__customer--name {
  padding: 0;
  margin: 0;
}
