@import '_variables';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F7F7;
  font-family: $font;
  font-size: 20px;
  height: 100vh;
  color: $mid-accent;
}

table {
  display: inline-block;
  border-collapse: collapse;
  margin: 25px 0px;
  font-size: 0.9em;
  min-width: 200px;
  border-radius: 5px 5px 0 0;
  border: 2px solid $mid-accent;
  overflow: hidden;
  box-shadow: 0 0 20px $mid-accent;
}

thead tr {
  background-color: $mid-accent;
  color: #FFF;
  text-align: left;
  font-weight: 700;
}


th,
td {
  padding: 12px, 15px;
  text-align: center;
  width:50%;
}


th {
  padding: 10px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
  
}

table tr:nth-of-type(even) {
  background-color: #f3f3f3;
  
}
.available-rooms-table th {
  min-width: 100px;
}
.header__nav {
  border: 1px solid $mid-accent;
  min-height: 80vh;
  background: white;
  border-radius: 10px 10px 0px 0px;
}

.header__customer--name {
  border-bottom: 1px solid $mid-accent;
  background: #FDFDFD;
  border-radius: 10px 10px 0px 0px;
  margin-left: 5px;
  padding: 10px;
  font-size: 1.4em;
  
}
.header__date {
  display: inline-block;
  // padding-left: 225px;
}
.header__title,
.header__current-customer {
  display: inline-block;
  font-family: 'Baloo', cursive;
  font-size: 4em;
}

.header__current-customer {
  font-family: $font;
  font-size: 1.8em;
  font-weight: 700;
  // padding-left: 220px;
  // padding-bottom: 10px;
  min-height: 90px;
}

.main__overlook {
  display: flex;
  flex-direction: row;
}

.top__display {
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.header__nav {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-content: center;

}
.main__panel-container {
  width: 100%;
}

.main__overlook {
  width: 80%;
  margin: auto;
}

.main__panel-container ul {
  margin: 0;
  padding: 0;
}

.main__panel-container ul li {
  list-style-type: none;
  display: inline-block;
  background: #F7F7F7;
  margin: 0;
  padding: 3px 10px;
  border: 1px solid $mid-accent;
  border-radius: 10px 10px 0px 0px;
  color: $mid-accent;
  font-weight: 400;
  font-size: 1.3em;
  cursor: pointer;
}

.main__panel-container ul li:hover {
  color: #fff;
  background: $mid-accent;
}

.main__panel-container ul li.active {
  color: #fff;
  background: $mid-accent;
  border: 1px solid $mid-accent;
}

.main__panel-container .panel {
  display: none;
  background: #FDFDFD;
  padding: 30px;
  border-radius: 0px 0px 10px 10px;
  min-height: 80vh;
}

.main__panel-container .panel.active {
  display: block;
  background: #FDFDFD;
  color: $mid-accent;
  border: 1px solid $mid-accent;
}

.header__search-input {
  color: $mid-accent;
  height: 40px;
  margin-top: 0px;
  padding: 5px;
  font-size: 1em;
}

.header__customer--name {
  padding: 5px 0px 0px 10px;
  margin: 0;
  color: white;
  background: $mid-accent;
  text-align: center;
}
.search__customer {
  padding-left: 5px;
}

.search__customer:hover {
  cursor: pointer;
  background: $mid-accent;
  color: white;
}

.header__add-customer,
.customer__book-room,
.room_booking-button {
  height: 50px;
  margin: 5px 0px;
  text-align: center;
  margin: 10px auto;
  padding: 5px 0px;
  border: 1px solid $mid-accent;
  background: #DEDEDE;
  width: 80%;
  border-radius: 5px;
  color: $mid-accent;
  font-family: $font;
  font-size: 20px;
  box-shadow: 5px 5px 5px $mid-accent;
}

.header__add-customer:disabled,
.customer__book-room:disabled {
  height: 50px;
  padding: 5px 0px;
  border: none;
  background: #DEDEDE;
  color: white;
  font-family: $font;
  font-size: 20px;
  box-shadow: none;
}

.customer__book-room {
  width: 200px;
}

.customer__today-bookings {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.customer__booking-box,
.customer__fees-box,
.room__booking-box {
  height: 220px;
  padding: 5px;
  margin-right: 50px;
  display: inline-block;
  width: 200px;
  border: 2px solid $mid-accent;
  box-shadow: 5px 5px 5px $mid-accent;
  border-radius: 10px;
  text-align: center;
}

.customer__fees-box {
  width: 300px;
};

.customer-bookings-table {
  margin-left: 15px;
  margin-top: 0px;
}

table tbody tr:hover {
  background: $mid-accent;
  color: #FFF;
  cursor: pointer;
}

table th {
  background-color: $mid-accent;
  cursor: pointer;
}

.rooms__container {
  display: flex;
  justify-content: center;
  // align-content: flex-start;
}

.room__booking-box {
  height: 120px;
  margin-top: 25px;
}